article {
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(12px);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}

article p {
    margin: 0;
    padding: 0;
    text-align: justify;
}

article {
    border: none;
}

article a {
    color: black;
    text-decoration: none;
}

article h2 {
    margin-bottom: 20px;
}