/* ESTILOS GENERALES */

* {
    box-sizing: border-box;
    font-family: Inter, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


/* ESTILOS DEL CALENDARIO QUE ES GENERADO POR JAVASCRIPT */

/* Navegación del calendario */

div.calendar-nav {  /* barra de navegación superior del calendario */
    background-color: rgba(140, 180, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    color: black;
}

div.calendar-nav * {
    /* flex: 1 1 auto; */
    text-align: center;
    color: black;
}

div.calendar-nav button {
    height: 50px;
    background: transparent;
    border: none;
    color: transparent;
    cursor: pointer;
    margin-left: 10px;
    color: black;
}

div.calendar-nav i {
    font-size: 25px;
    padding: 10px;
    border-radius: 15px;
    color: black;
    transition: 0.2s;
}

div.calendar-nav i:hover {
    background-color: #79a1f1;
}

div.calendar-nav i:active {
    background-color: #3667c9
}

div.calendar-nav h2 {
    font-size: 20px;
    margin-right: 30px;
    margin-left: auto;
}

/* Rejilla del calendario */

div.calendar-grid {
    display: grid;  /* Rejilla */
    grid-template-columns: repeat(7, 1fr);  /* Organizar en 7 columnas, de 1 unidad flex cada una */
    border-bottom: 1px solid rgba(162, 162, 162, 0.5);
    border-right: 1px solid rgba(162, 162, 162, 0.5);
}

div.calendar-grid p {
    font-size: 15px;
}

/* Rejilla de los días de la semana */

div.days-of-week {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(140, 180, 255, 0.4);
    border-top: 1px solid rgba(140, 180, 255, 0.6);
    border-left: 1px solid rgba(140, 180, 255, 0.6);
}

div.prev, div.next, div.current {
    height: 110px;
    transition: 0.2s;
    border-top: 1px solid rgba(162, 162, 162, 0.5);
    border-left: 1px solid rgba(162, 162, 162, 0.5);
    /* padding: 10px; */
    /* margin: 0 auto; */
}

div.prev, div.next {
    /* color: rgb(124, 124, 124); */
    background-color: rgba(162, 162, 162, 0.4);
    opacity: 0.7;
}

div.today {
    background-color: rgb(54, 121, 244);
    color: white;
    font-weight:bold;
}

div.prev:hover, div.next:hover, div.current:hover {
    /* height: 100px; */
    box-shadow: inset 0px 0px 0px 2px rgb(0, 0, 0);
    /* margin: 0 auto; */
}





/* EFECTOS DE AÑADIR TAREAS A LOS DÍAS */

/* Cabecera de los días */
div.day_header_wrapper {
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 5px; */
    padding: 5px;
    height: 35px;
}

button.create_task
{
    visibility: hidden;  /* El botón está escondido hasta que se pasa el ratón por encima del día */

}

div.current:hover button.create_task 
{
    visibility: visible;
}

button.create_task 
{   
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    color: rgb(15, 57, 15);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 20px;
    border: 2px solid rgb(50, 200, 50);
    background-color: rgb(50, 200, 50);
}

button.create_task:hover
{   
    background-color: rgb(50, 200, 50);
    color: rgb(15, 57, 15);
    border: 2px solid rgb(15, 57, 15);
}

button.create_task:active
{   
    background-color: rgb(34, 146, 34);
}


/* Contenedor de las tareas */

div.day_task_container {
    width: 100%;
    height: calc(110px - 38px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}


/* Estilo de los planes que aparecen en el calendario */

.plan{
    margin-left: 5px;
    margin-right: 5px;
	margin-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 15px;
	background-color:white;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
	transition: 0.3s;
}

.plan p {
    color: black;
    font-size: 13px !important;
}

/* Feedback visual al usuario de que se puede arrastrar */
.plan:hover {
	cursor: grab;
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.7);
}

/* Cuando está siendo arrastrado */
.plan:active {
	opacity: 0.6;  
	cursor: grab;
    box-shadow: none;
}

/* Pista visual de dónde se suelta el plan al arrastrar y soltar */
.plan_cue {
	color: rgba(0,0,0,0.5);
	text-align: center;
    height: 3px;
    margin-left: 5px;
    margin-right: 5px;
	margin-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 15px;
	background-color:rgba(0,0,0,0.3);
    box-shadow: none;
	transition: 0.3s;
}


/* BOTÓN DE BORRAR TAREAS */

.plan {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.plan button {
    visibility: collapse;
    display: none;
    border: none;
    background-color: transparent;
    color: rgb(90, 90, 90);
    transition: 0.2s;
}

.plan:hover > button {  /* Que aparezca el botón al pasar el ratón por encima del plan */
    visibility: visible;
    display: block;
}

.plan button:hover {
    color: rgb(200, 0, 0);
}
