/* ESTILOS GENERALES */

* {
    box-sizing: border-box;
    font-family: inherit;
    margin: 0;
    padding: 0;
}


/* ESTILOS DEL CALENDARIO QUE ES GENERADO POR JAVASCRIPT */

/* Navegación del calendario */

div.calendar-nav {  /* barra de navegación superior del calendario */
    background-color: rgba(140, 180, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    color: black;
}

div.calendar-nav * {
    /* flex: 1 1 auto; */
    text-align: center;
    color: black;
}

div.calendar-nav button {
    height: 50px;
    background: transparent;
    border: none;
    color: transparent;
    cursor: pointer;
    margin-left: 30px;
    color: black;
}

div.calendar-nav i {
    font-size: 25px;
    color: black;
}

div.calendar-nav h2 {
    font-size: 20px;
    margin-right: 30px;
    margin-left: auto;
}


/* Rejilla de los días de la semana */

div.calendar-grid div.days-of-week {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    background-color: rgba(140, 180, 255, 0.4);
}

/* Rejilla del calendario */

div.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);  /* Organizar en 7 columnas, de 1 flex cada una */
    text-align: center;
}
  
div.calendar-grid div.prev, div.next, div.current {
    height: 100px;
    padding-top: 10px;
    /* margin: 0 auto; */
}

div.prev, div.next {
    color: rgb(124, 124, 124);
    background-color: rgba(162, 162, 162, 0.4);
}
  

div.today {
    background-color: rgb(54, 121, 244);
    color: white;
    font-weight:bold;
}