/* ESTILOS GENERALES Y BODY */

* {
    margin: 0;
    padding: 0;
    font-family: Inter, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-width: 1000px;
    box-sizing: border-box;
    background-color: none;
    /* fondo de la página */
    background-image: url("../img/background/example.jpg");  /* Imagen por defecto */
    background-position: 50%; 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 2rem;
    font-weight: normal;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: mediumblue;
}


/* HEADER */

header.titulo_principal {  /* Contenedor flex del header */
    box-sizing: border-box;
    position: relative;
    z-index: 1;  /* Colocado por encima de otros contenidos */
    background-color: rgba(255,255,255,0.7);  /* Semitransparente */
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.7);  /* Efecto de sombra */
    border: none;
    backdrop-filter: blur(12px);  /* Efecto de desenfoque de fondo */
}

div.titulo_principal_flex {
    padding-left: 30px;
    padding-right: 30px;
    display: flex; /* Flex */
    flex-direction: row;  /* Lista */
    justify-content: center; /* Centrado */
    align-items: center;
    transition: 0.5s;
}

div.titulo_principal_flex h1 {  /* Estilo del título de la página */
    font-size: 30px;
    font-family: "Lobster", "Inter", Arial, Helvetica, sans-serif;
}

a#logo {  /* logotipo, cuadrado */
    height: 80px;
    width: 80px;
}

a#logo img {  /* Imagen del logotipo */
    height: 60px;
    width: 60px;
    box-sizing: border-box;
    margin-top: 10px;
}

a#titulo_y_lema {
    margin-right: auto;
    color: black;
}

a#titulo_y_lema > a {
    color: black;
}

a#titulo_y_lema  > p {
    font-style: italic;  /* Lema en itálica */
}

a#titulo_y_lema > p::before {  /* Inserta comillas antes del lema */
    content: '"';
}

a#titulo_y_lema > p::after {  /* Inserta comillas después del lema */
    content: '"';
}


/* BARRA DE NAVEGACIÓN */

nav.menu_principal {
    background-color: none;
    border: none;
    margin: 0;
}

nav.menu_principal ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    text-align: center;
}

nav.menu_principal ul li {
    display: inline-block;  /* Barra de navegación en línea */
    box-sizing: border-box;
    text-align: center;
    margin-left: 10px;
}

nav.menu_principal ul li a {  /* Estilo por defecto de los botones de navegación */
    font-size: 17px;
    font-weight: bold;
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 19px;
    padding-bottom: 18px;
    transition-duration: 0.2s;  /* Añade una ligera suavidad al cambio de color por hover */
    border: 1px dashed black;
}

nav.menu_principal ul li a:hover {  /* Efecto pasar por encima */
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 0px 0px 5px rgba(0,0,0,1);
}


nav.menu_principal ul li a[href="#"] {  /* Estilo del elemento seleccionado (página actual) */
    border: 1px solid black;
    background-color: black;
    color: white;
    cursor: not-allowed;  /* indicando que el cursor no hará nada si ya se está en la página correspondiente */
}

nav.menu_principal ul li a[href="#"]:hover {  /* Efecto al pasar por encima del elemento seleccionado (página actual) */
    border: 1px solid black;
    background-color: black;
    box-shadow: inset 0px 0px 0px 5px rgba(255,255,255,1);
}


/* BOTÓN DE LOG IN */

nav.menu_principal ul li a#login {  /* El botón de login tiene un estilo distinto para llamar la atención */
    color: rgb(10, 40, 200);
    border: 1px dashed rgb(10, 40, 200);
}

nav.menu_principal ul li a#login:hover {
    border: 1px solid rgb(10, 40, 200);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 0px 0px 5px rgba(10, 40, 200, 1);  /* Efecto de borde interior al pasar por encima */
}

nav.menu_principal ul li a#login[href="#"] {  /* Efecto al pasar por encima del elemento seleccionado (página actual) */
    border: 1px solid rgb(10, 40, 200);
    background-color: rgb(10, 40, 200);
    color: white;
    cursor: not-allowed;
}


/* BOTÓN DE SIGN UP */

nav.menu_principal ul li a#sigup {  /* El botón de login tiene un estilo distinto para llamar la atención */
    color: rgb(150, 10, 120);
    border: 1px dashed rgb(150, 10, 120);
}

nav.menu_principal ul li a#sigup:hover {
    border: 1px solid rgb(150, 10, 120);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 0px 0px 5px rgba(150, 10, 120, 1);  /* Efecto de borde interior al pasar por encima */
}

nav.menu_principal ul li a#sigup[href="#"] {  /* Efecto al pasar por encima del elemento seleccionado (página actual) */
    border: 1px solid rgb(150, 10, 120);
    background-color: rgb(150, 10, 120);
    color: white;
    cursor: not-allowed;
}


/* CUERPO DE LA PÁGINA */

div.cuerpo {  /* El cuerpo es un contenedor flex para el contenido principal y la barra aside*/
    box-sizing: border-box;
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: row;  /* Soluciona la altura de la barra aside */
    transition: 0.5s;  /* Para la transición según el tamaño de pantalla. Ver final del css */
    /* z-index: 0; De forma que esté por debajo del footer y el header y se proyecten sus sombras */
}


/* CONTENIDO PRINCIPAL */

div.principal {  /* Donde se encuentran los artículos y otros contenidos */
    width: 80%;
}


/* BARRA LATERAL */

aside {  /* Barra de navegación lateral */
    padding: 30px;
    width: 20%;
    max-height: auto;
    background-color: rgba(189, 189, 189, 0.5);
    backdrop-filter: blur(12px);
    transition: 0.5s;  /* Para la transición según el tamaño de pantalla. Ver final del css */
    /* He dejado estas unidades porque no consigo que la barra use el 100% del espacio vertical disponible */
}

aside h2 {
    text-align: center;
}


/* BARRA DE NAVEGACIÓN EN EL ASIDE */

aside nav.menu_lateral {
    background-color: none;
    border: none;
    margin: 0;
    padding: 0;
}

aside nav.menu_lateral ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

aside nav.menu_lateral ul li {
    display: block;  /* Barra de navegación vertical */
    box-sizing: border-box;
    text-align: center;
    margin-top: 15px;
}

aside nav.menu_lateral ul li a {
    font-size: 16px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 15px;
    transition-duration: 0.2s;  /* Añade una ligera suavidad al cambio de color por hover */
    border: 1px solid black;
    border-radius: 25px;
}

aside nav.menu_lateral ul li a:hover {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
}



/* PIE DE PÁGINA */

footer {
    color: white;
    box-sizing: border-box;
    background-color: rgba(29, 29, 29, 0.7);
    backdrop-filter: blur(12px);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.7);
}

footer div.footer_flex {
    padding: 30px;
    padding-bottom: 50px;
    display: flex;  /* Contenedor flex de los créditos y logos */
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;  /* De manera que no llenen verticalmente el contenedor */
    justify-content: space-between;  /* Para distribuir los elementos horizontalmente */
    transition: 0.5s;
}


footer a img {
    height: 60px;  /* Logo de la UPV */
}


/* CRÉDITOS */

footer div.creditos {
    text-align: right;
    /* margin-left: auto; */
}

footer div.creditos hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer div.creditos ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer div.creditos ul li a {
    line-height: 1.5;
    color: aqua;
}


/* Logo footer */

footer div#logo_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

footer div#logo_footer img {
    height: 100%;
    margin-right: 20px;
}

footer div#logo_footer h1 {
    font-size: 30px;
    font-family: "Lobster", "Inter", Arial, Helvetica, sans-serif;
}


/* Botón para cambiar el fondo de la página */

footer div#change_background button {
    color: white;
    font-weight: normal;
    padding: 10px;
    margin-top: 11px;
    font-size: 15px;
    line-height: 15px;
    border: 1px dashed white;
    border-radius: 20px;
    background-color: transparent;
    transition: 0.2s;
}

footer div#change_background button:hover {
    border: 1px solid white;
    box-shadow: inset 0px 0px 0px 3px rgb(255, 255, 255);
}

footer div#change_background button:active {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}


/* ESTILOS DINÁMICOS CON EL TAMAÑO DE LA VENTANA */


@media (min-width: 1281px) {  /* Si la pantalla es más grande que este tamaño */
    
    /* Barra de navegación superior */

    div.titulo_principal_flex {
        width: 1280px; /* redimensionar cuerpo */
        margin-right: auto;
        margin-left: auto;
    }

    /* cuerpo */
    
    div.cuerpo {
        width: 1280px; /* redimensionar cuerpo */
        margin-left: auto;  /* Guardar márgenes a los lados */
        margin-right: auto;
    }

    /* Barra de navegación lateral */

    aside {
        width: 250px;
    }

    /* footer */

    footer div.footer_flex {
        width: 1280px; /* redimensionar cuerpo */
        margin-left: auto;  /* Guardar márgenes a los lados */
        margin-right: auto;
    }
    

}
