*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

aside {
    visibility: collapse;  /* No mostrar barra lateral */
    display: none;  /* Arreglar hide en chrome */
}

div.principal {
    margin-left: auto;
    margin-right: auto;
}

div.principal {
    width: 600px;
}

.login{
    width: 400px;
    height: 340px;
    background: rgba(255, 255, 255, 0.5); 
    margin: auto;
    margin-top: 60px;
    margin-bottom: 100px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    color:black;
}

.login h4{
    margin: 0;
    text-align: center;
    height: 40 px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.entradas {
    width: 100%;
    border: 1px solid;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px 10px;
    background: rgba(255, 255, 255, 0.49);
    font-size: 14px;
    transition: 0.2s;
}

.entradas:hover {
    border-radius: 5px;
}

.btnLogin{
    width: 40%;
    padding: 10px;
    background:rgba(238, 165, 82, 0.856);
    border: solid 2px rgb(233, 128, 76);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 24px;
    transition: 0.2s;
}

.btnLogin:hover {
    background:rgb(233, 128, 76);
}

.btnLogin:active {
    background:rgb(191, 95, 48);
}
