.casos_exito>div{
	display: flex;
	align-items: stretch;
  	text-align: center;
}
.casos_exito>div>article>h3{
	padding-top: 10px;
	padding-bottom: 10px;
}
.casos_exito>div>article>p{
	padding-top: 10px;
	padding-bottom: 10px;
}
.casos_exito>div>article>iframe{
	padding-top: 10px;
	padding-bottom: 10px;
}