.casos_exito>div{
	display: flex;
	align-items: stretch;
  	text-align: center;
}
.casos_exito>div>article>h3{
	padding-top: 10px;
	padding-bottom: 10px;
}
.casos_exito>div>article>p{
	padding-top: 10px;
	padding-bottom: 10px;
}
.casos_exito>div>article>iframe{
	padding-top: 10px;
	padding-bottom: 10px;
}
header.titulo_principal {  /* Contenedor flex del header */
    box-sizing: border-box;
    position: relative;
    z-index: 1;  /* Colocado por encima de otros contenidos */
    background-color: rgba(189,236,182,0.7);  /* Semitransparente */
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.7);  /* Efecto de sombra */
    border: none;
    backdrop-filter: blur(12px);  /* Efecto de desenfoque de fondo */
}