/* CONTENIDO DE NEW.HTML */

aside {
    visibility: collapse;  /* No mostrar barra lateral */
}

div.principal {
    margin-left: auto;
    margin-right: auto;
}

div.principal {
    width: 600px;
}


#boton_envio{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: 0;
}

#boton_envio:hover{
    background-color: lightgray;
}