/* CONTENEDOR PRINCIPAL DE LOS ELEMENTOS */


/* ESTILOS DE LA LISTA DE CATEGORÍAS Y SUS ELEMENTOS */

#lista_categorias{
	overflow-x: scroll; /* Muestra la barra de navegación horizontal cuando es necesaria */
	display: flex;  /* Basado en contenedores flex */
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;  /* De manera que no llenen verticalmente el contenedor */
	margin-right: 30px;
}

#lista_categorias > * {
	width: 250px;  /* Contenedores con dimensiones mínimas */
	min-width: 250px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}


/* ESTILOS ESPECÍFICOS DE LAS CATEGORÍAS */

.categoria {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(12px);
    padding-top: 20px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
}

.categoria > p {
	font-weight: bold;
	text-align: center;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dashed black;
}

/* PLANES */

.plan{
	background-color:white;
	padding: 15px;
	margin-bottom: 15px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
	border-radius: 15px;
	transition: 0.3s;
}

/* Feedback visual al usuario de que se puede arrastrar */
.plan:hover {
	cursor: grab;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.7);
}

/* Cuando está siendo arrastrado */
.active_plan {
	opacity: 0.6;  
	cursor: grab;
    box-shadow: none;
}

/* Pista visual de dónde se suelta el plan al arrastrar y soltar */
.plan_cue {
	background-color:rgba(0,0,0,0.3);
	padding: 15px;
	margin-bottom: 15px;
	border-radius: 15px;
	color: rgba(0,0,0,0.5);
	text-align: center;
    box-shadow: none;
}

.category_cue {
	border-left: 3px solid;
	min-width: 0px !important;
	width: 10px !important;
	height: 134px;
	border-color: black;
	background-color: black;
	
}


/* BOTÓN DE CREAR PLANES */

.categoria > button {
	font-weight: bold;
	text-align: center;
	border: none;
	background-color: rgba(100, 100, 100, 0.2);
	padding: 15px;
	border-radius: 15px;
	transition: 0.2s;
}

.categoria > button:hover {
    background-color: rgb(100, 200, 100);
    box-shadow: inset 0px 0px 0px 3px rgba(0,0,0,0.5);
}


/* BOTÓN DE AÑADIR CATEGORÍAS */


button#add_category {
    margin-left: 30px;
    margin-top: 30px;
	margin-right: 30px;
    background-color: rgba(189, 189, 189, 0.5);
    backdrop-filter: blur(12px);
    padding: 15px;
    border-radius: 25px;
	border: none;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
	transition: 0.2s;
}

button#add_category:hover {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.7);
}
