/* CONTENEDOR PRINCIPAL DE LOS ELEMENTOS */


/* ESTILOS DE LA LISTA DE CATEGORÍAS Y SUS ELEMENTOS */

#lista_categorias{
	overflow-x: scroll; /* Muestra la barra de navegación horizontal cuando es necesaria */
	display: flex;  /* Basado en contenedores flex */
	margin-right: 30px;
}

#lista_categorias > * {
	width: 250px;  /* Contenedores con dimensiones mínimas */
	min-width: 250px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}


/* ESTILOS ESPECÍFICOS DE LAS CATEGORÍAS */

.categoria {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(12px);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
}

.categoria > p {
	font-weight: bold;
	text-align: center;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dashed black;
}


.plan{
	background-color:white;
	padding: 15px;
	margin-bottom: 15px;
	box-shadow: 0px 1px 1px black;
	border-radius: 10px;
}


button#add_category {
    margin-left: 30px;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(12px);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
	height: auto;
}

