.categoria {
	display:inline-block;
	margin: 3px;
	background-color:ghostwhite;
	border: 1px solid black;
	padding:3px;
	
}

#lista_categorias > p {
	font-weight: bold;
}

.plan{
	background-color:white;
	margin: 3px;
	padding:1px;
	margin: 8px;
	box-shadow: 0px 1px 1px black;
}

#lista_categorias{
	display: inline-block;
}